<html>
    <title>SIAL&H</title>
<head>
    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="{% static 'adminlte-3.2.0/plugins/fontawesome-free/css/all.min.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'adminlte-3.2.0/css/adminlte.css' %}">
    <!--Block head-->
    {% block head %}

    {% endblock %}



</head>

<body class="hold-transition layout-top-nav">

    {% block content %}

    {% endblock %}

    <!-- REQUIRED SCRIPTS -->

    <!-- jQuery -->
    <script src="{% static 'adminlte-3.2.0/plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static 'adminlte-3.2.0/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'adminlte-3.2.0/js/adminlte.min.js' %}"></script>
    
    <!--Block javascript-->
    {% block javascript %}

    {% endblock %}
</body>

</html>