{% extends "sialyhapp/base2.html" %}

{% load static %}

<!--Block javascript-->
{% block javascript %}

<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'datatables-1.10.20/js/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.js' %}"></script>
<script src="{% static 'datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.js' %}"></script>
<link rel="stylesheet" href="{% static 'datatables-1.10.20/css/dataTables.bootstrap4.css' %}" />
<link rel="stylesheet"
    href="{% static 'datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.css' %}" />

<script type="application/javascript">
    if ($.fn.DataTable.isDataTable('#tbl_applications')) {
        $('#tbl_applications').DataTable().destroy();
    }

    $('#tbl_applications').DataTable({
        responsive: true,
        autoWidth: false
    });
</script>

{% endblock %}


<head>
    <!--Block head-->
    {% block head %}
    <script src="{% static 'vendor/jquery/jquery.js' %}"></script>
    {% endblock %}
    
</head>

{% block content %}


<!DOCTYPE html>
<html>

<section class="content">
    <div class="card">
        <div class="card-body">
            <div class="container-title">
                <div class="divTitle">
                    <h1>Listado de solicitudes</h1>
                </div>
                <div class="divReturn">
                    <a href="{% url 'human_resources' %}" title="Facturas manuales" class="btn" style="background-color: grey; border-color: grey;">
                        <i class="fas fa-arrow-left"></i>
                    </a>
                </div>
            </div>
            <div class="container-fluid">
                <div class="container-fluid">
                    <form method="get">
                        {{ user_filter_formapp.as_p }}
                        <button type="submit" class="btn btn-success" style="background-color: grey; border-color: grey;">
                            Filtrar
                        </button>
                    </form>
                </div>
            </div>
            <div class="container-fluid" style="width: 100%;">
                <div class="card">
                    <div class="card-body">
                        <table class="table" id="tbl_applications">
                            <thead>
                                <tr>
                                    <th><strong>Solicitud</strong></th>
                                    <th><strong>Empleado</strong></th>
                                    <th><strong>Cedula</strong></th>
                                    <th><strong>Tienda</strong></th>
                                    <th><strong>Valor</strong></th>
                                    <th><strong>Estado</strong></th>
                                    <th><strong>Opciones</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for application in form_list_app %}
                                <tr>
                                    <td> {{ application.id }} </td>
                                    <td> {{ application.name }} </td>
                                    <td> {{ application.idCard }} </td>
                                    <td> {{ application.user }} </td>
                                    <td> $ {{ application.total }} </td>
                                    {% if application.approved %}
                                    <td> Aprobado </td>
                                    {% elif not application.enabled %}
                                    <td> No aprobado </td>
                                    {% else %}
                                    <td> Pendiente </td>
                                    {% endif %}
                                    <td>
                                        {% if not application.approved and application.enabled %}
                                        <a href="{% url 'approve_application' application.id %}" title="Aprobar" class="btn" style="background-color: grey; border-color: grey;">
                                            <i class="fas fa-check"></i>
                                        </a>
                                        <a href="{% url 'disable_application' application.id %}" title="No aprobar" class="btn" style="background-color: grey; border-color: grey;">
                                            <i class="fas fa-times"></i>
                                        </a>
                                        {% endif %}
                                        <a href="{% url 'approval' application.id %}" title="Ver solicitud" class="btn" style="background-color: grey; border-color: grey;">
                                            <i class="fas fa-search"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
<script src="{% static 'JavaScript/Scripts.js' %}"></script>

</body>
</html>

{% endblock %}
