{% extends "sialyhapp/base2.html" %}

{% load static %}


<!--Block javascript-->
{% block javascript %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'datatables-1.10.20/js/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.js' %}"></script>
<script src="{% static 'datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.js' %}"></script>
<link rel="stylesheet" href="{% static 'datatables-1.10.20/css/dataTables.bootstrap4.css' %}" />
<link rel="stylesheet"
    href="{% static 'datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.css' %}" />

<script type="application/javascript">
    if ($.fn.DataTable.isDataTable('#tbl_pettycash')) {
        $('#tbl_pettycash').DataTable().destroy();
    }

    $('#tbl_pettycash').DataTable({
        responsive: true,
        autoWidth: false
    });
</script>

{% endblock %}


{% block content %}
<html>

<body>
    <section>
        <hr>
        <div class="container-title">
            <div class="divTitle">
                <h1>Listado de cajas menores</h1>
            </div>
            <div class="divReturn">
                <a href="{% url 'listings_accounting' %}" class="btn" style="background-color: grey; border-color: grey;" title="Volver">
                    <i class="fas far fa-arrow-left"></i>
                </a>
            </div>
        </div>
    </section>
    <hr>
    <div class="container-fluid">
        <div class="container-fluid">
            <form method="get">
                {{ date_invoice_filter_formpc.as_p }}
                {{ user_filter_formpc.as_p }}
                <button type="submit" class="btn btn-success" style="background-color: grey; border-color: grey;">
                    Filtrar
                </button>
            </form>
        </div>
    </div>
    <section>
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <table class="table" id="tbl_pettycash">
                        <thead>
                            <tr>
                                <th><strong>Fecha de factura</strong></th>
                                <th><strong>Fecha de carga</strong></th>
                                <th><strong>Archivo</strong></th>
                                <th><strong>Tienda</strong></th>
                                <th><strong>Opciones</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pettycash in miFormpc %}
                            {% if pettycash.enabled %}
                            <tr>
                                <td>{{ pettycash.dateInvoice }}</td>
                                <td>{{ pettycash.created }}</td>
                                <td><a href="{{ pettycash.file.url }}" target="_blank">{{ pettycash.file.name }}</a></td>
                                <td>{{ pettycash.user }}</td>
                                <td>
                                    <a href="{% url 'disabled_item_petty_cash' pettycash.id %}" title="Eliminar">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>


</body>

</html>
{% endblock %}