{% extends "sialyhapp/base2.html" %}

{% load static %}

{% block content %}

<html>

<body>
    <hr>
    <div>
        <div class="container-title">
            <div class="divTitle">
                <h1>Cajas menores</h1>
            </div>
            <div class="divReturn">
                <a href="{% url 'income_accounting' %}" title="Volver" class="btn" style="background-color: grey; border-color: grey;">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </div>
        </div>      
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">X</button>
            Información enviada correctamente
        </div>
        {% endfor %}
        {% endif %}
        <hr>
        <section>
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <table id="petty_cash">
                                {{ formpc.as_table }}
                            </table>
                            <button type="submit" class="btn btn-success"
                                style="background-color: grey; border-color: grey" method="POST">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <hr>

</body>

</html>
{% endblock %}