{% extends "sialyhapp/base2.html" %}

{% load static %}


<!--Block javascript-->
{% block javascript %}

<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'datatables-1.10.20/js/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.js' %}"></script>
<script src="{% static 'datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.js' %}"></script>
<link rel="stylesheet" href="{% static 'datatables-1.10.20/css/dataTables.bootstrap4.css' %}" />
<link rel="stylesheet"
    href="{% static 'datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.css' %}" />

<script type="application/javascript">
    if ($.fn.DataTable.isDataTable('#tbl_data')) {
        $('#tbl_data').DataTable().destroy();
    }

    $('#tbl_data').DataTable({
        responsive: true,
        autoWidth: false
    });
</script>

{% endblock %}


{% block content %}
<html>

<body>
    <section>
        <hr>
        <div class="container-title">
            <div class="divTitle">
                <h1>Listado de manejo de datos personales</h1>
            </div>
            <div class="divReturn">
                <a href="{% url 'listings' %}" title="Volver"  class="btn" style="background-color: grey; border-color: grey;">
                    <i class="fas far fa-arrow-left"></i>
                </a>
            </div>
        </div>
    </section>
    <hr>
    <div class="container-fluid">
        <div class="container-fluid">
            <form method="get">
                {{ date_filter_formdm.as_p }}
                {{ user_filter_formdm.as_p }}
                <button type="submit" class="btn btn-success" style="background-color: grey; border-color: grey;">
                    Filtrar
                </button>
            </form>
        </div>
    </div>
    <section>
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <form method="post" action="{% url 'export_dataManagement_to_excel' %}">
                        {% csrf_token %}
                        <input type="hidden" name="date" value="{{ filtered_date }}">
                        <input type="hidden" name="user" value="{{ filtered_user }}">
                        <div class="container-fluid" style="margin-bottom: 1%;">
                            <button type="submit" class="btn btn-success"><i class="fas fa-file-excel"></i></button>
                        </div>
                        <table class="table" id="tbl_data">
                            <thead>
                                <tr>
                                    <th><strong>Número de cédula</strong></th>
                                    <th><strong>Fecha de carga</strong></th>
                                    <th><strong>Tienda</strong></th>
                                    <th><strong>Archivo</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for datam in miFormdm %}
                                <tr>
                                    <td>{{ datam.idCard }}</td>
                                    <td>{{ datam.created }}</td>
                                    <td>{{ datam.user }}</td>
                                    <td>
                                        <a href="{{ datam.file.url }}" target="_blank">{{ datam.file.name }}</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </section>


</body>

</html>
{% endblock %}