{% extends "sialyhapp/base2.html" %}

{% load static %}

<head>
    <!--Block head-->
    {% block head %}


    {% endblock %}
    
</head>


{% block content %}
<html>
    <html>
        <body>
            <hr>
            <section>
                <div class="container-title" >
                    <div  class="divTitle" style="text-align: center;">
                        <h1>Ingreso de documentos</h1>
                    </div>
                    <div class="divReturn">
                        <a href="{% url 'billing' %}" title="Volver" class="btn" style="background-color: grey; border-color: grey;">
                            <i class="fas far fa-arrow-left"></i>
                        </a>
                    </div>
                </div>
            </section>
            <hr>
            <section class="content">
                <div class="container-fluid"  style="width: 100%;">
                    <div class="row" style="justify-content: center;">
                        {% if perms.sialyhapp.view_maninvoices %}
                        <div class="col-5" style="margin: 1rem; max-width: min-content;">
                            <div class="card" style="margin: 1rem; max-width: min-content;">
                                <div class="card-body" style="text-align: center;">
                                    <a href="{% url 'manual_invoices' %}" title="Facturas manuales">
                                        <img src="{% static 'img/man_invoice.png' %}" width="80px"></img>
                                    </a>
                                </div>
                                <div class="card-footer"style="text-align: center;">
                                    <p style="color: black;">Facturas manuales</p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if perms.sialyhapp.view_sepbonuses %}
                        <div class="col-5" style="margin: 1rem; max-width: min-content;">
                            <div class="card" style="margin: 1rem; max-width: min-content;">
                                <div class="card-body" style="text-align: center;">
                                    <a href="{% url 'sepBonuses' %}" title="Bonos de separado">
                                        <img src="{% static 'img/sep_bond.png' %}" width="80px"></img>
                                    </a>
                                </div>
                                <div class="card-footer"style="text-align: center;">
                                    <p style="color: black;">Bonos de separado</p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if perms.sialyhapp.view_paydiscount %}
                        <div class="col-5" style="margin: 1rem; max-width: min-content;">
                            <div class="card" style="margin: 1rem; max-width: min-content;">
                                <div class="card-body" style="text-align: center;">
                                    <a href="{% url 'payDiscounts' %}" title="Descuentos por nómina">
                                        <img src="{% static 'img/consignment.png' %}" width="80px"></img>
                                    </a>
                                </div>
                                <div class="card-footer"style="text-align: center;">
                                    <p style="color: black;">Descuentos por nómina</p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if perms.sialyhapp.view_datamanagement %}
                        <div class="col-5" style="margin: 1rem; max-width: min-content;">
                            <div class="card" style="margin: 1rem; max-width: min-content;">
                                <div class="card-body" style="text-align: center;">
                                    <a href="{% url 'dataManagement' %}" title="Manejo de datos personales">
                                        <img src="{% static 'img/data_management.png' %}" width="80px"></img>
                                    </a>
                                </div>
                                <div class="card-footer"style="text-align: center;">
                                    <p style="color: black;">Manejo datos</p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </section>
        </body>
    </html>
    

</html>
{% endblock %}

<!--Bloque de listado-->
{% block listing %}


{% endblock %}