{% extends "sialyhapp/base2.html" %}

{% load static %}

<!--Block head-->
{% block head %}



{% endblock %}

<!--Block javascript-->
{% block javascript %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'datatables-1.10.20/js/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.js' %}"></script>
<script src="{% static 'datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.js' %}"></script>

<script src="{% static 'datatables-1.10.20/plugins/buttons-1.6.1/js/dataTables.buttons.js' %}"></script>
<script src="{% static 'datatables-1.10.20/plugins/jszip-2.5.0/jszip.js' %}"></script>
<script src="{% static 'datatables-1.10.20/plugins/pdfmake-0.1.36/pdfmake.js' %}"></script>
<script src="{% static 'datatables-1.10.20/plugins/pdfmake-0.1.36/vfs_fonts.js' %}"></script>
<script src="{% static 'datatables-1.10.20/plugins/buttons-1.6.1/js/buttons.html5.js' %}"></script>

<link rel="stylesheet" href="{% static 'datatables-1.10.20/plugins/buttons-1.6.1/css/buttons.dataTables.css' %}">
<link rel="stylesheet" href="{% static 'datatables-1.10.20/css/dataTables.bootstrap4.css' %}" />
<link rel="stylesheet"
    href="{% static 'datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.css' %}" />

<script type="application/javascript">
    if ($.fn.DataTable.isDataTable('#tbl_invoices')) {
        $('#tbl_invoices').DataTable().destroy();
    }

    $('#tbl_invoices').DataTable({
        responsive: true,
        autoWidth: false
    });


</script>

{% endblock %}

{% block content %}
<html>

<body>
    <section>
        <hr>
        <div class="container-title">
            <div class="divTitle">
                <h1>Listado de facturas manuales</h1>
            </div>
            <div class="divReturn">
                <a href="{% url 'listings' %}" class="btn" style="background-color: grey; border-color: grey;" title="Volver">
                    <i class="fas far fa-arrow-left"></i>
                </a>
            </div>
        </div>
    </section>
    <hr>
    <div class="container-fluid">
        <div class="container-fluid">
            <form method="get">
                {{ date_invoice_filter_form.as_p }}
                {{ user_filter_form.as_p }}
                <button type="submit" class="btn btn-success" style="background-color: grey; border-color: grey;">
                    Filtrar
                </button>
            </form>
        </div>
    </div>
    <section>
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <form method="post" action="{% url 'export_invoices_excel' %}">
                        {% csrf_token %}
                        <input type="hidden" name="dateInvoice" value="{{ filtered_date }}">
                        <input type="hidden" name="user" value="{{ filtered_user }}">
                        <div class="container-fluid" style="margin-bottom: 1%;">
                            <button type="submit" class="btn btn-success"><i class="fas fa-file-excel"></i></button>
                        </div>
                        <table class="table" id="tbl_invoices">
                            <thead>
                                <tr>
                                    <th><strong>Número de factura</strong></th>
                                    <th><strong>Fecha de factura</strong></th>
                                    <th><strong>Fecha de carga</strong></th>
                                    <th><strong>Archivo</strong></th>
                                    <th><strong>Tienda</strong></th>
                                    <th><strong>Opciones</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for invoice in miForm %}
                                {% if invoice.enabled %}
                                <tr>
                                    <td>{{ invoice.numInvoice }}</td>
                                    <td>{{ invoice.dateInvoice }}</td>
                                    <td>{{ invoice.created }}</td>
                                    <td><a href="{{ invoice.file.url }}" target="_blank">{{ invoice.file.name }}</a>
                                    </td>
                                    <td>{{ invoice.user }}</td>
                                    <td>
                                        <a href="{% url 'disabled_item_invoice' invoice.id %}" title="Eliminar">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>

{% endblock %}