{% extends "sialyhapp/base2.html" %}

{% load static %}


<!--Block javascript-->
{% block javascript %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'datatables-1.10.20/js/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.js' %}"></script>
<script src="{% static 'datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.js' %}"></script>
<link rel="stylesheet" href="{% static 'datatables-1.10.20/css/dataTables.bootstrap4.css' %}" />
<link rel="stylesheet"
    href="{% static 'datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.css' %}" />

<script type="application/javascript">
    if ($.fn.DataTable.isDataTable('#tbl_bonuses')) {
        $('#tbl_bonuses').DataTable().destroy();
    }

    $('#tbl_bonuses').DataTable({
        responsive: true,
        autoWidth: false
    });
</script>

{% endblock %}


{% block content %}
<html>

<body>
    <section>
        <hr>
        <div class="container-title">
            <div class="divTitle">
                <h1>Listado de bonos de separado</h1>
            </div>
            <div class="divReturn">
                <a href="{% url 'listings' %}" class="btn" style="background-color: grey; border-color: grey;" title="Volver">
                    <i class="fas far fa-arrow-left"></i>
                </a>
            </div>
        </div>
    </section>
    <hr>
    <div class="container-fluid">
        <div class="container-fluid">
            <form method="get">
                {{ date_invoice_filter_formsb.as_p }}
                {{ user_filter_formsb.as_p }}
                <button type="submit" class="btn btn-success" style="background-color: grey; border-color: grey;">
                    Filtrar
                </button>
            </form>
        </div>
    </div>
    <section>
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <form method="post" action="{% url 'export_sepBonuses_to_excel' %}">
                        {% csrf_token %}
                        <input type="hidden" name="dateInvoice" value="{{ filtered_date }}">
                        <input type="hidden" name="user" value="{{ filtered_user }}">
                        <div class="container-fluid" style="margin-bottom: 1%;">
                            <button type="submit" class="btn btn-success"><i class="fas fa-file-excel"></i></button>
                        </div>
                        <table class="table" id="tbl_bonuses">
                            <thead>
                                <tr>
                                    <th><strong>Número de bono</strong></th>
                                    <th><strong>Fecha de factura</strong></th>
                                    <th><strong>Fecha de carga</strong></th>
                                    <th><strong>Valor del bono</strong></th>
                                    <th><strong>Archivo</strong></th>
                                    <th><strong>Tienda</strong></th>
                                    <th><strong>Opciones</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for bond in miFormsb %}
                                {% if bond.enabled %}
                                <tr>
                                    <td>{{ bond.numBond }}</td>
                                    <td>{{ bond.dateInvoice }}</td>
                                    <td>{{ bond.created }}</td>
                                    <td>$ {{ bond.valBond }}</td>
                                    <td><a href="{{ bond.file.url }}" target="_blank">{{ bond.file.name }}</a></td>
                                    <td>{{ bond.user }}</td>
                                    <td>
                                        <a href="{% url 'disabled_item_sepBond' bond.id %}" title="Eliminar">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </section>


</body>

</html>
{% endblock %}