{% extends "sialyhapp/base2.html" %}

{% load static %}


<!--Block javascript-->
{% block javascript %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'datatables-1.10.20/js/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.js' %}"></script>
<script src="{% static 'datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.js' %}"></script>
<link rel="stylesheet" href="{% static 'datatables-1.10.20/css/dataTables.bootstrap4.css' %}" />
<link rel="stylesheet"
    href="{% static 'datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.css' %}" />

<script type="application/javascript">
    if ($.fn.DataTable.isDataTable('#tbl_bonuses')) {
        $('#tbl_bonuses').DataTable().destroy();
    }

    $('#tbl_bonuses').DataTable({
        responsive: true,
        autoWidth: false
    });
</script>

{% endblock %}


{% block content %}
<html>

<body>
    <section>
        <hr>
        <div class="container-title">
            <div class="divTitle">
                <h1>Gestión de bonos de licitación</h1>
            </div>
            <div class="divReturn">
                <a href="{% url 'bid_bonds' %}" class="btn" style="background-color: grey; border-color: grey;" title="Volver">
                    <i class="fas far fa-arrow-left"></i>
                </a>
            </div>
        </div>
        {% if messages %} 
        {%for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">X</button>
                {{ message }}
            </div>
        {% endfor %}
        {% endif %}
    </section>
    <div class="container-fluid">
        <div class="container-fluid">
            <form method="get">
                <hr>
                {{ id_card_filter.as_p }}
                {{ num_bond_filter.as_p }}
                <button type="submit" class="btn btn-success" style="background-color: grey; border-color: grey;">
                    Buscar
                </button>
            </form>
        </div>
    </div>
    <section>
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <table class="table table-sm" id="tbl_bonuses">
                        <thead>
                            <tr>
                                <th><strong>Licitación</strong></th>
                                <th><strong>Cédula</strong></th>
                                <th><strong>Número de bono</strong></th>
                                <th><strong>Valor del bono</strong></th>
                                <th><strong>Estado</strong></th>
                                <th><strong>Opciones</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for bond in form %}
                                <tr>
                                    <form method="post" action="{% url 'management_update_bond' bond.id %}">
                                        {% csrf_token %}
                                        <td><input type="text" class="form-control-plaintext" name="bidding" value="{{ bond.bidding }}"></td>
                                        <td><input type="text" class="form-control-plaintext" name="idCard" value="{{ bond.idCard }}"></td>
                                        <td><input type="text" class="form-control-plaintext" name="numBond" value="{{ bond.numBond }}"></td>
                                        <td><input type="text" class="form-control-plaintext" name="value" value="{{ bond.value }}"></td>
                                        <td>
                                            <select name="state" class="form-control">
                                                <option value="disponible" {% if bond.state == 'disponible' %}selected{% endif %}>disponible</option>
                                                <option value="redimido" {% if bond.state == 'redimido' %}selected{% endif %}>redimido</option>
                                            </select>
                                        </td>
                                        <td>                                                                            
                                            <button title="Guardar" class="btn" style="background-color: grey; border-color: grey;" type="submit"><i class="fas fa-check"></i></button>                                
                                            <a href="{% url 'add_bond' bond.idCard %}" title="Añadir bono" class="btn" style="background-color: grey; border-color: grey;" target="_blank"><i class="fas fa-plus"></i></a>   
                                            <a href="{% url 'delete_bond' bond.id %}" title="Eliminar"><i class="fas fa-trash"></i></a>                             
                                        </td>
                                    </form>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>


</body>

</html>
{% endblock %}